* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by any browser but < IE9 */
  font-family: "Raleway", sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8bac;
  border-radius: 50px;
  border: 1px solid #ffffff;
}

main {
  background-color: #f8f8f8;
  height: 100vh;
  display: grid;
}
main .vector-box {
  display: none;
}
main .vector-box img {
  display: none;
}
main .form-box {
  display: grid;
  place-items: center;
  padding: 20px;
}
main .form-box form {
  max-width: 300px;
  min-width: fit-content;
  width: 100%;
  height: 430px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .form-box form .icon-box {
  width: 100%;
  text-align: center;
}
main .form-box form .icon-box .favicon {
  width: 50px;
  height: 50px;
  color: red;
}
main .form-box form .icon-box .logo-txt {
  margin: 0;
  color: #ff0a54;
  word-wrap: break-word;
  font-size: 24px;
}
main .form-box form label {
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
}
main .form-box form .usr {
  color: #000;
  margin-top: 30px;
  word-wrap: break-word;
}
main .form-box form .psw {
  margin-top: 15px;
  word-wrap: break-word;
}
main .form-box form .usr-in,
main .form-box form .psw-in {
  width: 85%;
  height: 2.3rem;
  font-size: 13px;
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid #adadad;
  caret-color: #ff477e;
}
main .form-box form .usr-in:focus,
main .form-box form .psw-in:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
main .form-box form .user-error,
main .form-box form .pass-error {
  color: #ff0000;
  font-size: 11px;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
main .form-box form .user-right,
main .form-box form .pass-right {
  color: #00b400;
  font-size: 11px;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
main .form-box form .submit-btn {
  width: 87.9%;
  height: 2.3rem;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #ff477e;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}
main .form-box form .submit-btn:hover {
  background-color: #ff6c96;
  transition: background-color 400ms ease-in;
}
main .form-box form .register {
  text-decoration: none;
  color: #ff477e;
  font-size: 13px;
  text-align: center;
}
main .form-box form .register:hover {
  color: #ff6c96;
  transition: background-color 400ms ease-in;
}

footer {
  background-color: #ff477e;
  width: 100%;
  max-height: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
footer h6 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}

@media only screen and (min-width: 1080px) {
  body main {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 95%;
  }
  body main .vector-box {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  body main .vector-box img {
    display: block;
    width: 350px;
    align-self: center;
    padding-top: 15px;
  }
  body main .vector-box .office-man {
    margin-top: 25px;
  }
  body main .vector-box .office-people {
    margin-top: 25px;
  }
  body main .form-box {
    height: 94%;
    padding: 0;
    padding-right: 40px;
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
  }
  body main .form-box form {
    align-self: center;
  }
  body footer {
    bottom: 0;
    position: absolute;
  }
}

/*# sourceMappingURL=index.css.map */
