* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by any browser but < IE9 */
  font-family: "Raleway", sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  position: fixed;
  width: 100%;
  margin-right: 15px;
}
body header nav {
  margin-right: 1px;
  width: 100%;
  height: 50px;
  background-color: #ff477e;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
body header nav .home {
  height: 50px;
  width: 80px;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
body header nav .home a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5px;
  height: 50px;
  width: 50px;
}
body header nav .home:hover {
  background-color: #ff6c96;
}
body header nav .account {
  width: fit-content;
  justify-self: flex-end;
  color: #ffffff;
  font-size: 32px;
  text-align: right;
  margin-right: 21px;
  margin-top: 5px;
  cursor: pointer;
}
body header nav .account:hover {
  color: #e6e6e6;
}
body header .container {
  background-color: red;
  width: 100%;
  display: none;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body header .container .account-box {
  position: fixed;
  background-color: #ff477e;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 10px;
  width: 50%;
  height: 6vh;
  border-radius: 5px;
  transform: translate(start, 0);
}
body header .container .account-box ul {
  margin: auto;
  width: fit-content;
  padding-top: 8px;
}
body header .container .account-box ul li {
  list-style: none;
  margin: auto;
}
body header .container .account-box ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  width: fit-content;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
body header .container .account-box ul a:hover {
  color: #e6e6e6;
}
body main {
  margin-top: 50px;
}

@media screen and (min-width: 365px) {
  header .container .account-box {
    width: 182px;
  }
}
body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8bac;
  border-radius: 50px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

main {
  padding-top: 15px;
  margin-bottom: 90px;
}
main form {
  width: 90vw;
  height: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main form .group-1,
main form .group-2 {
  display: flex;
  flex-direction: column;
}
main form .group-1 .alert,
main form .group-2 .alert {
  width: fit-content;
  color: #000;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 11px;
  font-weight: normal;
}
main form .title {
  font-size: 16px;
  text-align: center;
  color: #ff477e;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
}
main form .label-top {
  margin-top: 30px;
}
main form label {
  font-size: 13px;
  margin-left: 20px;
  width: 100%;
}
main form label:not(.label-top) {
  margin-top: 20px;
}
main form input:not(input[type=checkbox]) {
  width: 80%;
  height: 50px;
  font-size: 11px;
  margin-left: 30px;
  padding-left: 10px;
}
main form input[type=text]:focus,
main form input[type=tel]:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
main form input[type=text],
main form input[type=tel] {
  border: none;
  border-bottom: 1px solid #adadad;
}
main form .aux-container {
  display: row;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 20px;
}
main form .aux-container .conditions {
  color: #e27900;
  width: fit-content;
  margin-left: 0;
  padding-left: 2px;
}
main form .aux-container input {
  margin-left: 30px;
  border: none;
}
main form input[type=submit] {
  border: none;
  background-color: #ff8bac;
  cursor: not-allowed;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
}
main form .alert {
  width: fit-content;
  color: #000;
  margin-top: 15px;
  font-size: 11px;
  font-weight: normal;
}

footer {
  background-color: #ff477e;
  width: 100%;
  min-height: fit-content;
  max-height: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
}
footer h6 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  main {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  main form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content repeat(2, 1fr);
    max-width: 691px;
  }
  main form .title {
    grid-column: 1/3;
  }
  main form .label-top {
    margin-top: 0;
  }
  main form .group-1 label,
main form .group-2 label {
    margin-top: 20px;
  }
  main form .aux-container {
    grid-column: 1/3;
    text-align: center;
  }
  main form .aux-container .conditions {
    text-align: center;
  }
  main form .submit {
    align-self: center;
    justify-self: center;
    grid-column: 1/3;
    max-width: 260px;
    background-color: red;
  }
}
@media screen and (min-height: 768px) {
  footer {
    bottom: 0;
    position: relative;
  }
}

/*# sourceMappingURL=register.css.map */
