* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Raleway", sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8bac;
  border-radius: 50px;
  border: 1px solid #ffffff;
}

body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  position: fixed;
  width: 100%;
}
body header nav {
  width: 100%;
  height: 50px;
  background-color: #ff477e;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
body header nav .home {
  height: 50px;
  width: 80px;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: background-color ease-in 400ms;
}
body header nav .home a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5px;
  height: 50px;
  width: 50px;
}
body header nav .home:hover {
  background-color: #ff6c96;
}
body header nav .account {
  width: fit-content;
  justify-self: flex-end;
  color: #ffffff;
  font-size: 32px;
  text-align: right;
  margin-right: 21px;
  margin-top: 5px;
  cursor: pointer;
}
body header nav .account:hover {
  color: #e6e6e6;
}
body header .container {
  background-color: red;
  width: 100%;
  display: none;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body header .container .account-box {
  position: fixed;
  background-color: #ff477e;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 10px;
  width: 50%;
  height: 6vh;
  border-radius: 5px;
  transform: translate(start, 0);
}
body header .container .account-box ul {
  margin: auto;
  width: fit-content;
  padding-top: 8px;
}
body header .container .account-box ul li {
  list-style: none;
  margin: auto;
}
body header .container .account-box ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  width: fit-content;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
body header .container .account-box ul a:hover {
  color: #e6e6e6;
}
body main {
  margin-top: 50px;
}

@media screen and (min-width: 365px) {
  header .container .account-box {
    width: 182px;
  }
}
main {
  padding-top: 15px;
  margin-bottom: 90px;
}
main form {
  width: 90vw;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 15px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
}
main form .title {
  font-size: 16px;
  text-align: center;
  color: #ff477e;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
main form .group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
main form .group .alert {
  width: fit-content;
  color: #000;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 11px;
  font-weight: normal;
}
main form .group label {
  font-size: 13px;
  margin-left: 20px;
  width: 100%;
}
main form .group input:not(input[type=checkbox]) {
  width: 85%;
  height: 50px;
  font-size: 11px;
  margin-left: 20px;
}
main form .group input[type=text]:focus,
main form .group input[type=tel]:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
main form .group input[type=text],
main form .group input[type=tel] {
  border: none;
  border-bottom: 1px solid #adadad;
}
main form .aux-container {
  display: row;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 20px;
}
main form .aux-container .conditions {
  color: #e27900;
  width: fit-content;
  margin-left: 0;
  padding-left: 2px;
  font-size: 13px;
}
main form .aux-container input {
  margin-left: 30px;
  border: none;
}
main form input[type=submit] {
  border: none;
  background-color: #ff8bac;
  cursor: not-allowed;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  align-self: center;
  transition: background-color ease-in 400ms;
}
main form input[type=submit]:hover {
  background-color: #ff6c96;
}
main form .alert-submit {
  width: fit-content;
  color: #000;
  margin-top: 15px;
  font-size: 11px;
  font-weight: normal;
  visibility: hidden;
  align-self: center;
}

footer {
  background-color: #ff477e;
  width: 100%;
  max-height: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
footer h6 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (min-width: 500px) {
  main form {
    max-width: 450px;
  }
  main form input[type=submit] {
    max-width: 300px;
  }
}
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body header nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 0;
  }
  body main {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  body main form {
    max-width: 768px;
    height: fit-content;
    align-items: center;
  }
  body main form .group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main form .group-in {
    display: flex;
    flex-direction: column;
    min-height: 83px;
  }
}
@media screen and (min-width: 768px) and (min-height: 640px) {
  body main {
    height: 80%;
    display: grid;
    place-content: center;
  }
  body footer {
    bottom: 0;
    position: absolute;
  }
}

/*# sourceMappingURL=register.css.map */
