@media (prefers-color-scheme: dark) {
	html {
		background-color: $dark-box;
		body {
			background-color: $dark-box;
			main {
				.container {
					.mode-box {
						.dark-mode {
							color: $dark-btn;
						}
						.dark-mode:hover {
							color: $dark-btn-hover;
						}
					}
					background-color: $dark-box;
					.right {
						form {
							background-color: $dark-primary;
							.box-account {
								.account {
									color: $white;
								}
							}
							.welcome-text {
								color: $white;
							}
							label {
								color: $white;
							}
							h5 {
								color: $white;
							}
							h5:hover {
								color: $dark-txt-hover;
							}
							input[type="submit"] {
								background-color: $dark-btn;
							}
							input[type="submit"]:hover {
								background-color: $dark-btn-hover;
							}
						}
					}
				}
			}
			footer {
				background-color: $dark-primary;
			}
		}
	}
}
