footer {
	background-color: $secondary;
	width: 100%;

	max-height: 40px;
	height: 40px;
	display: grid;
	place-items: center;

	h6 {
		font-family: "Raleway", sans-serif;
		color: $main-bg;
		font-weight: 300;
		margin: 0;
		text-align: center;
		word-wrap: break-word;
	}
}
