footer {
	background-color: $color-primary;
	width: 100%;
	min-height: 40px;
	max-height: 60px;
	height: 2rem;
	margin-top: 1rem;
	padding-top: 1rem;
	h5 {
		font-family: "Roboto", sans-serif;
		text-align: center;
		color: $color-black;
		margin: 0;
	}
}
