$color-primary: #9b2226;
$hover-text: #001219;
$main-bg-color: #fff;
$main-box-color: #ececec;
$sec-box: #fff;
$color-box: #fff;
$color-light: #afafaf;
$color-black: #fff;
$color-btn: #0a9396;
$color-btn-sel: #fff;
$color-border: #000;
$alert: #ff0000;

// DARK-MODE-COLORS
$dark-primary: #0a9396;
$dark-box: #202124;
$white: #fff;
$dark-btn: #ff8300;
$dark-btn-hover: #023e8a;
$dark-txt-hover: #e9d8a6;

$radius-default: 3px;
$padd-left-input: 0.65rem;
$padd-top-input: 0.5rem;
$padd-bottom-input: 0.5rem;
