$main-bg: #ffffff;
$alt-bg: #e9ecef;
$primary: #ff0a54;
$secondary: #ff477e;
$hover-btn: #ff5c8a;
$pholder: #dee2e6;
$content: #000;
$alert: #ff0000;
$correct: #00b400;

$h1: 32px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$h5: 13px;
$h6: 11px;
$normal: 16px;
$small: 11px;

$bold: 700;
$regular: 400;
