$main-bg: #ffffff;
$alt-bg: #f8f8f8;
$primary: #ff0a54;
$secondary: #ff477e;
$tertiary: #ff8bac;
$hover-btn: #ff6c96;
$hover-alt: #e6e6e6;
$pholder: #fffffff8;
$content: #000;
$alert: #ff0000;
$correct: #00b400;
$important: #e27900;

$h1: 32px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$h5: 13px;
$h6: 11px;
$normal: 16px;
$small: 11px;

$bold: 700;
$regular: 400;

$radious: 5px;

$btn-height: 50px;
$btn-width: 260px;

$in-width: 260px;
$in-height: 50px;

$border: 1px solid #adadad;
$border-focus: 1px solid $content;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$form-width: 300px;
$form-height: 415px;
