@import "reset";
@import "variables";

main {
	background-color: $main-bg;
	.vector-box {
		width: 0px;
		img {
			width: 0px;
			visibility: hidden;
		}
	}
	.form-box {
		width: 100%;
		height: 88vh;
		display: flex;
		flex-direction: column;
		margin: auto;
		margin-top: 50vh;
		form {
			width: 90%;
			height: 415px;
			margin-top: 3vh;
			align-self: center;
			transform: translate(0, 10%);
			background-color: $main-bg;
			font-family: "Raleway", sans-serif;
			border: none;
			border-radius: 5px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			display: flex;
			flex-direction: column;
			.icon-box {
				width: 100%;
				margin-top: 10px;
				text-align: center;
				.favicon {
					width: 50px;
					height: 50px;
					color: red;
				}
				.logo-txt {
					margin: 0;
					color: $primary;
					word-wrap: break-word;
					font-size: $h2;
				}
			}
			label {
				padding-left: 10px;
				font-size: $h5;
				font-weight: $regular;
			}
			.usr {
				color: $content;
				margin-top: 30px;
				word-wrap: break-word;
			}

			.psw {
				margin-top: 15px;
				word-wrap: break-word;
			}

			.usr-in,
			.psw-in {
				width: 85%;
				height: 2.3rem;
				font-size: $h5;
				padding-left: 5px;
				margin-top: 5px;
				margin-left: 15px;

				border: none;
				border: 1.5px solid $pholder;
				border-radius: 5px;

				caret-color: $secondary;
			}

			.user-error,
			.pass-error {
				color: $alert;
				font-size: $h6;
				font-weight: $regular;
				margin-left: 25px;
				margin-top: 5px;
			}

			.user-right,
			.pass-right {
				color: $correct;
				font-size: $h6;
				font-weight: $regular;
				margin-left: 25px;
				margin-top: 5px;
			}
			.submit-btn {
				width: 87.9%;
				height: 2.3rem;

				padding: 0;
				margin-top: 5px;
				margin-bottom: 15px;
				margin-left: 15px;
				border: none;
				padding-left: 5px;
				border-radius: 5px;

				background-color: $secondary;
				color: $main-bg;
				cursor: pointer;

				font-size: $h5;
				font-weight: $regular;
			}
			.submit-btn:hover {
				background-color: $hover-btn;
			}
			.register {
				text-decoration: none;
				color: $secondary;
				font-size: $h5;
				text-align: center;
			}
			.register:hover {
				color: $hover-btn;
			}
		}
	}
}

@import "footer";
// FOR BUGS
@media only screen and (max-height: 515px) {
	body {
		display: none;
	}
}
// Footer fixed, aqui hay un error
@media screen and (min-height: 540px) {
	footer {
		height: 7vh;
		margin: none;
		bottom: 0;
	}
}
@media only screen and (min-width: 334px) {
	main {
		.form-box {
			margin: auto;
			form {
				max-width: 300px;
				.usr-in,
				.psw-in,
				input[type="submit"] {
					width: 260px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1080px) {
	main {
		display: grid;
		grid-template-columns: 50% 50%;

		.vector-box {
			width: 100%;
			height: 93vh;
			background-color: $alt-bg;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				visibility: visible;
				width: 390px;
			}
			.office-man {
				margin-top: 25px;
			}
			.office-people {
				margin-top: 25px;
			}
		}
		.form-box {
			transform: translate(0, -8%);
			grid-column: 2/-1;
			grid-row: 1/2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			justify-items: flex-end;
		}
	}
}
