@import "reset";
@import "variables";
@import "header";

html,
body {
	overflow-x: hidden;
}

main {
	height: 85vh;
	display: flex;

	.vector-box {
		width: 0;
		img {
			visibility: hidden;
			width: 0;
		}
	}
	.panel-box {
		width: 75%;
		margin-top: 30px;
		margin-left: 33px;

		display: grid;
		grid-template-rows: 20% 90%;
		.content-box {
			.info-box {
				width: 80%;
				margin: auto;
				padding: 2%;
				hgroup {
					border: $border;
					border-radius: $radious;
					padding: 2%;
					h5 {
						font-weight: $regular;
					}
				}
				.print-btn,
				.close-btn {
					width: 100%;
					height: $btn-height;
					border: none;
					margin-top: 5px;
					background-color: $secondary;
					border-radius: $radious;
					color: $main-bg;
					text-align: center;
					cursor: pointer;
				}
				.print-btn:hover,
				.close-btn:hover {
					background-color: $hover-btn;
				}

				.print-btn {
					margin-top: 5px;
				}
			}
		}
	}
	.btn-box {
		width: 40px;
		height: 200px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		span {
			margin: auto;
			color: $content;
			cursor: pointer;
		}
		span:hover {
			color: $hover-btn;
		}

		.create-travel {
			color: red;
		}
	}
}

@import "footer";

@media screen and (min-width: 465px) {
	main {
		.panel-box {
			width: 95%;
			.content-box {
				margin: auto;
				width: 265px;
				.info-box {
					width: 260px;
					display: flex;
					flex-direction: column;
					hgroup {
						width: 260px;
					}
					.print-btn,
					.close-btn {
						width: $btn-width;
						height: $btn-height;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1080px) {
	main {
		height: 85vh;
		display: grid;
		grid-template-columns: 50% 45% 3%;
		.vector-box {
			width: 100%;
			height: 85vh;
			background-color: $alt-bg;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				visibility: visible;
				width: 290px;
			}
			.office-man {
				margin-top: 25px;
			}
			.office-people {
				margin-top: 25px;
			}
		}
	}
}
