@import "variables";
@import "reset";
@import "header";

main {
	padding-top: 15px;
	margin-bottom: 90px;
	form {
		width: 90vw;
		height: 100%;
		margin: auto;
		margin-top: 20px;
		padding-bottom: 15px;
		background-color: $main-bg;
		box-shadow: $shadow;
		display: flex;
		flex-direction: column;
		.title {
			font-size: $h4;
			text-align: center;
			color: $secondary;
			text-transform: uppercase;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.group {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			width: 100%;
			.alert {
				width: fit-content;
				color: $content;
				margin-top: 5px;
				margin-left: 30px;
				font-size: $h6;
				font-weight: normal;
			}

			label {
				font-size: $h5;
				margin-left: 20px;

				width: 100%;
			}

			input:not(input[type="checkbox"]) {
				width: 85%;
				height: $in-height;
				font-size: $h6;
				margin-left: 20px;
			}

			input[type="text"]:focus,
			input[type="tel"]:focus {
				outline: none;
				border-bottom: $border-focus;
			}

			input[type="text"],
			input[type="tel"] {
				border: none;
				border-bottom: $border;
			}
		}
		.aux-container {
			display: row;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: baseline;
			margin-top: 20px;
			.conditions {
				color: $important;
				width: fit-content;
				margin-left: 0;
				padding-left: 2px;
				font-size: $h5;
			}
			input {
				margin-left: 30px;
				border: none;
			}
		}
		input[type="submit"] {
			border: none;
			background-color: $tertiary;
			cursor: not-allowed;
			color: $main-bg;
			margin-top: 20px;
			border-radius: $radious;
			width: 80%;
			height: $in-height;
			align-self: center;
			transition: background-color ease-in 400ms;
		}
		input[type="submit"]:hover {
			background-color: $hover-btn;
		}
		.alert-submit {
			width: fit-content;
			color: $content;
			margin-top: 15px;

			font-size: $h6;
			font-weight: normal; //here was the problem with the inputs hidden!
			visibility: hidden;
			align-self: center;
		}
	}
}

@import "footer";

@media screen and (min-width: 500px) {
	main {
		form {
			max-width: 450px;
			input[type="submit"] {
				max-width: 300px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body {
		header {
			nav {
				box-shadow: $shadow;
				margin-right: 0;
			}
		}
		display: flex;
		flex-direction: column;
		main {
			margin-top: 35px;
			margin-bottom: 30px;

			form {
				max-width: 768px;
				height: fit-content;
				align-items: center;
				.group {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
				}
				.group-in {
					display: flex;
					flex-direction: column;
					min-height: 83px;
				}
			}
		}
	}
}
@media screen and (min-width: 768px) and (min-height: 640px) {
	body {
		main {
			height: 80%;
			display: grid;
			place-content: center;
		}
		footer {
			bottom: 0;
			position: absolute;
		}
	}
}
