/* @keyframes appear {
	0% {
		background-color: var(--light-text-color);
		color: var(--light-text-color);
		border: none;
	}
}

@keyframes btn {
	0% {
		color: var(--botton-selected);
	}
} */
/* 
* nav {
	animation: appear 600ms;
} */

nav .inf-nav-container button a .logo:hover {
	font-size: 1rem;
	color: var(--botton-selected-light);
}

nav .inf-nav-container button a span:hover,
nav .account-container button a span:hover {
	font-size: 1.7rem;
	color: var(--botton-selected-light);
}

main .container .seats-container .material-icons-outlined:hover {
	color: var(--botton-selected);
	font-size: 1.7rem;
}

main .container .seats-container .seats-subcontainer .seats-left .left-side:hover,
main .container .seats-container .seats-subcontainer .seats-right .right-side:hover {
	background-color: var(--botton-selected);
	width: 2.1rem;
	height: 2.1rem;
	border: none;
}

.container .person-container .material-icons-outlined:hover,
.container .person-container .material-icons-round:hover {
	width: 3.1rem;
	height: 3.1rem;
	color: var(--botton-selected);
	background-color: var(--container-color);
}

.destiny-subcontainer .destiny-list:hover {
	color: var(--botton-selected);
}

.print-btn .print-botton:hover,
.destiny-container .destiny-search:hover {
	background-color: var(--botton-selected);
}
