@media screen and (min-width: 791px) {
	main .container {
		display: grid;
		width: 90%;
		height: 35rem;
		grid-template-columns: 30% 35%;
		grid-template-rows: 25% 50%;
	}

	main .container .seats-container {
		width: 100%;
		grid-column: 1/2;
	}
	main .container .seats-container .seats-subcontainer {
		width: 70%;
		height: 100%;
		margin: 0;
	}
	main .container .seats-container .new-client {
		padding-top: 1rem;
		margin-top: 0;
	}
	main .container .seats-container button {
		margin-bottom: 0.5rem;
	}
	main .container .person-container {
		width: 100%;
		margin-left: 0;
		padding-left: 0;
		margin-top: 1rem;
	}
	main .container .destiny-container {
		width: 100%;
		grid-column: 2/2;
		margin-left: 0;
	}
}
